<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrapeForum</title>
    <link rel="stylesheet" href="./static/styling/pico.min.css">
    <link rel="stylesheet" href="./static/styling/home.css">
</head>
<body>
    <main class="container">
        {{{nav}}}
        <h1>Hello {{user}}</h1>
            <div class="ask-posts">
                {{{post_ask}}}
            </div>
        {{#each posts}}
            <a href="/posts/{{id}}" class="link">
                <article onclick="getClass(event)">
                    <h2>{{title}} | <a href="/users/{{owner}}">{{owner}}</a></h2>
                    <p>{{content}}</p>
                </article>
            </a>
        {{/each}}
        {{{footer}}}
    </main>
</body>
</html>