<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrapeForum</title>
    <link rel="stylesheet" href="../static/styling/pico.min.css">
    <link rel="stylesheet" href="../static/styling/post.css">
</head>
<body>
    <main class="container">
        {{{nav}}}
        <article>    
            <h1 style="text-align: center; font-size: xx-large">{{title}}</h1>
            <p style="text-align: center;">{{content}}</p>
            {{{can_reply}}}
        </article>
        <h2>Comments</h2>
        <div class="comments">    
            {{#each comments}}
                <h3>{{owner}}</h3>
                <p>{{content}}</p>
            {{/each}}
        </div>
        {{{footer}}}
    </main>
</body>
</html>